In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_excel('D:/Project/Normal-Data-Visulization/datasets/Sale-Analysis/MasterTable.xlsx')

In [4]:
df.head()

,order_id,customer_id,delivery_partner_id,product_id,feedback_id,area,customer_name,customer_segment,product_name,category,...,feedback_segment,Date,Value_Type,Value,order_datetime,Emoji,star,img,payment_method,Rating_label
0,4827199229,7354898,3807,668018,5203891,Howrah,Hitesh Loyal,Premium,odit ad,Cold Drinks & Juices,...,Positive,2025-09-04,Quantity,3,2025-09-04 14:27:24,https://i.postimg.cc/X7XSGhNR/smile.png,⭐⭐⭐⭐,https://i.postimg.cc/kXrKPWsd/softdrink.png,Card,Rating 4
1,4827199229,7354898,3807,602858,5203891,Howrah,Hitesh Loyal,Premium,incidunt aliquid,Dairy & Breakfast,...,Positive,2025-09-04,Quantity,3,2025-09-04 14:27:24,https://i.postimg.cc/X7XSGhNR/smile.png,⭐⭐⭐⭐,https://i.postimg.cc/X7wFjX1B/food.png,Card,Rating 4
2,4827199229,7354898,3807,324022,5203891,Howrah,Hitesh Loyal,Premium,recusandae ad,Grocery & Staples,...,Positive,2025-09-04,Quantity,3,2025-09-04 14:27:24,https://i.postimg.cc/X7XSGhNR/smile.png,⭐⭐⭐⭐,https://i.postimg.cc/jSc7fmbs/grocery.png,Card,Rating 4
3,4827199229,7354898,3807,490721,5203891,Howrah,Hitesh Loyal,Premium,labore magnam,Instant & Frozen Food,...,Positive,2025-09-04,Quantity,3,2025-09-04 14:27:24,https://i.postimg.cc/X7XSGhNR/smile.png,⭐⭐⭐⭐,https://i.postimg.cc/1RVwdvpH/ice-cream.png,Card,Rating 4
4,5872134446,6442409,44400,869164,9064433,Dhule,Nirja Gara,Premium,amet tempore,Dairy & Breakfast,...,Positive,2024-12-30,Quantity,3,2024-12-30 08:58:28,https://i.postimg.cc/X7XSGhNR/smile.png,⭐⭐⭐⭐,https://i.postimg.cc/X7wFjX1B/food.png,Card,Rating 4

1.	Identify and handle missing values in the dataset.

In [5]:
df.columns

Index(['order_id', 'customer_id', 'delivery_partner_id', 'product_id',
       'feedback_id', 'area', 'customer_name', 'customer_segment',
       'product_name', 'category', 'price', 'promised_time', 'actual_time',
       'delivery_time_minutes', 'reasons_if_delayed', 'rating',
       'feedback_category', 'feedback_text', 'feedback_segment', 'Date',
       'Value_Type', 'Value', 'order_datetime', 'Emoji', 'star', 'img',
       'payment_method', 'Rating_label'],
      dtype='object')

2.	Convert the order_datetime column to a proper datetime format and extract the year, month, and day.

In [6]:
df['order_datetime'] = pd.to_datetime(df['order_datetime'])
df['order_date'] = df['order_datetime'].dt.date
df['order_month'] = df['order_datetime'].dt.month
df['order_year'] = df['order_datetime'].dt.year

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 450476 entries, 0 to 450475
Data columns (total 31 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   order_id               450476 non-null  int64
 1   customer_id            450476 non-null  int64
 2   delivery_partner_id    450476 non-null  int64
 3   product_id             450476 non-null  int64
 4   feedback_id            450476 non-null  int64
 5   area                   450476 non-null  object
 6   customer_name          450476 non-null  object
 7   customer_segment       450476 non-null  object
 8   product_name           450476 non-null  object
 9   category               450476 non-null  object
 10  price                  450476 non-null  float64
 11  promised_time          450476 non-null  datetime64[ns]
 12  actual_time            450476 non-null  datetime64[ns]
 13  delivery_time_minutes  450476 non-null  int64
 14  reasons_if_delayed     278068 non-null  object
 15  rating                 450476 non-null  int64
 16  feedback_category      450476 non-null  object
 17  feedback_text          450476 non-null  object
 18  feedback_segment       450476 non-null  object
 19  Date                   450476 non-null  datetime64[ns]
 20  Value_Type             450476 non-null  object
 21  Value                  450476 non-null  int64
 22  order_datetime         450476 non-null  datetime64[ns]
 23  Emoji                  450476 non-null  object
 24  star                   450476 non-null  object
 25  img                    450476 non-null  object
 26  payment_method         450476 non-null  object
 27  Rating_label           450476 non-null  object
 28  order_date             450476 non-null  object
 29  order_month            450476 non-null  int32
 30  order_year             450476 non-null  int32
dtypes: datetime64[ns](4), float64(1), int32(2), int64(8), object(16)
memory usage: 103.1+ MB

3.	Remove duplicate entries based on order_id and product_id.

In [11]:
df.drop_duplicates('product_id', inplace=True)

In [13]:
df[df.duplicated('product_id')] # Check if there are any duplicates

Empty DataFrame
Columns: [order_id, customer_id, delivery_partner_id, product_id, feedback_id, area, customer_name, customer_segment, product_name, category, price, promised_time, actual_time, delivery_time_minutes, reasons_if_delayed, rating, feedback_category, feedback_text, feedback_segment, Date, Value_Type, Value, order_datetime, Emoji, star, img, payment_method, Rating_label, order_date, order_month, order_year]
Index: []

[0 rows x 31 columns]