In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('D:/Project/Normal-Data-Visulization/datasets/googleplaystore/googleplaystore.csv')

In [6]:
df.sample(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
5117,Mix Tank – Tank Mixing Ag App,PRODUCTIVITY,3.6,64,15M,"10,000+",Free,0,Everyone,Productivity,"October 16, 2017",4.2,4.4 and up
7840,Helper for CS:GO,TOOLS,4.4,208,6.0M,"10,000+",Free,0,Everyone,Tools,"June 16, 2016",1.2.1,4.1 and up
10676,Calculator Fn,TOOLS,NaN,9,3.6M,500+,Free,0,Everyone,Tools,"November 12, 2015",1.4,4.0 and up
3600,How do I take care of my child?,PARENTING,4.8,190,6.8M,"100,000+",Free,0,Everyone,Parenting,"June 24, 2018",1.5,4.0 and up
223,sABN,BUSINESS,4.4,2287,1.5M,"1,000,000+",Free,0,Everyone,Business,"March 26, 2018",4.9,2.2 and up

In [8]:
df.shape

(10841, 13)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [10]:
df.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [11]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000